# Supabase
VITE_SUPABASE_URL=https://XXXXXXXX.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_XXXXXXXXXXXXXXXXXXXX

# IA
VITE_GROQ_API_KEY=gsk_XXXXXXXXXXXXXXXXXXXX
VITE_GEMINI_API_KEY=AIzaSyXXXXXXXXXXXXXXXXXXXXXXXXX

# CGU
VITE_CGU_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
